<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People crud</title>

  <!--CSS STYLE-->
  <link rel="stylesheet" href="./src/css/styles.css">
</head>
<body>
  <div id="app">
    <header class="header">
      <h1 class="header__title">CRUD PERSONAS</h1>
    </header>

    <section class="form__container">
      <form action="" @submit.prevent="submitUser" class="form">
        <!--Nombre-->
        <input type="text" v-model="nombre" placeholder="Nombre"> 
        <!--Apellido-->
        <input type="text" v-model="apellido" placeholder="Apellido"> 
        <!--Edad-->
        <input type="text" v-model="edad" placeholder="Edad"> 
  
        <!--Sexo-->
        <div class="form__sexo">
          <div>
            <input type="radio" id="one" value="hombre" v-model="sexo">
            <label for="one">Hombre</label>
          </div>
          
          <div>
            <input type="radio" id="two" value="mujer" v-model="sexo">
            <label for="two">Mujer</label>
          </div>
        </div>
        
  
        <!--Pais-->
        <select v-model="pais">
          <option disabled value="">Seleccione su pais</option>
          <option>Perú</option>
          <option>Argentina</option>
          <option>Chile</option>
          <option>Mexico</option>
          <option>Canada</option>
        </select>
  
        
        <button>Enviar</button>
      </form>
    </section>

    <section class="cardUser__container">
      <div v-for="(user, index) in users" class="cardUser"> <!--Usuario n°-->
        
        <div v-if="modify == index">          
          <!--Nombre modificar-->
          Nombre: <input type="text" v-model="modifyNombre"><br> 
          
          <!--Apellido modificar-->
          Apellido: <input type="text" v-model="modifyApellido"><br> 
          
          <!--Edad modificar-->
          Edad: <input type="number" v-model="modifyEdad"><br>

          <!--Sexo modificar--> 
          Sexo: <input type="radio" id="modifyOne" value="hombre" v-model="modifySexo">
                <label for="modifyOne">Hombre</label>

                <input type="radio" id="modifyTwo" value="mujer" v-model="modifySexo">
                <label for="modifyTwo">Mujer</label>
                <br>
          
          <!--Pais modificar-->
          Pais: <select v-model="modifyPais">
                  <option disabled value="">Seleccione su pais</option>
                  <option>Perú</option>
                  <option>Argentina</option>
                  <option>Chile</option>
                </select><br><br> 
        </div>
        
        <div v-else> <!--Mostrar datos-->
          <p>Nombre: {{ user.nombre }}</p>
          <p>Apellido: {{user.apellido}}</p>
          <p>Edad: {{user.edad}}</p>
          <p>Sexo: {{user.sexo}}</p>
          <p>Pais: {{user.pais}}</p>
        </div>
        
        <!--Boton Eliminar-->
        <button @click="deleteUser(index)">Eliminar</button>
        
        <!--Boton Guardar-->
        <button v-if="modify == index" @click="saveUser(index)">Guardar</button>
        
        <!--Boton Modificar-->
        <button v-else @click="modifyUser(index)">Modificar</button>
      </div> <!--Fin del usuario n°-->
    </section>

  </div>

  <!--VueJS-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--App.JS-->
  <script src="./src/js/app.js"></script>
</body>
</html>