<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People crud</title>

  <!--CSS STYLE-->
  <link rel="stylesheet" href="./src/css/styles.css">
</head>
<body>
  <div id="app">
    <form action="" @submit.prevent="submitUser">
      <input type="text" v-model="nombre" placeholder="Nombre"> <br>
      <input type="text" v-model="apellido" placeholder="Apellido"> <br>
      <input type="number" v-model="edad" placeholder="Edad"> <br>
      <button>Enviar</button>
    </form>

    <br>

    <ul>
      <li v-for="(user, index) in users">
        
        <div v-if="modify == index">          
          Nombre: <input type="text" v-model="modifyNombre"><br> 
          Apellido: <input type="text" v-model="modifyApellido"><br> 
          Edad: <input type="number" v-model="modifyEdad"><br> 
        </div>
        
        <div v-else>
          Nombre: {{ user.nombre }} <br>
          Apellido: {{user.apellido}} <br>
          Edad: {{user.edad}} <br>
        </div>
        <button @click="deleteUser(index)">Eliminar</button>
        <button v-if="modify == index" @click="saveUser(index)">Guardar</button>
        <button v-else @click="modifyUser(index)">Modificar</button>
      </li>
    </ul>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./src/js/app.js"></script>
</body>
</html>