:root {
  --ff-primary: 'Roboto', sans-serif;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-primary: #ffac41;
  --clr-secondary: #323232;
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

img {
  display: block;
  max-width: 100%; }

strong {
  font-weight: var(--fw-bold); }

body {
  font-family: var(--ff-primary); }

h1,
h2,
h3 {
  font-weight: normal; }

.form {
  border: 1px solid var(--clr-primary);
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem; }
  .form input[type="text"],
  .form input[type="number"] {
    border: 1px solid var(--clr-primary);
    padding: 1rem;
    width: 100%; }
  .form > *:not(:last-child) {
    margin-bottom: 1.5rem; }
  .form__sexo {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 5rem); }
  .form > select {
    border: 1px solid var(--clr-primary);
    padding: 1rem;
    width: 100%; }
  .form > button {
    border: 1px solid var(--clr-primary);
    padding: 1rem;
    background-color: var(--clr-primary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%; }

.cardUser {
  border: 1px solid var(--clr-primary);
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem; }
  .cardUser p {
    border-bottom: 1px solid var(--clr-primary);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 100%; }
  .cardUser * {
    width: 100%; }
  .cardUser > *:not(:last-child) {
    margin-bottom: 1.5rem; }
  .cardUser > button {
    border: 1px solid var(--clr-primary);
    padding: 1rem;
    background-color: var(--clr-primary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%; }

.header {
  background-color: var(--clr-secondary);
  padding: 0 2rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__title {
    color: var(--clr-primary);
    font-weight: bold;
    font-size: 2.6rem; }
  .header .buttonsContainer__button {
    height: 100%;
    border: 1px solid var(--clr-primary);
    padding: 1rem;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    cursor: pointer; }

.form__container {
  display: flex;
  justify-content: center;
  padding: 3rem 0; }

.cardUser__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .cardUser__container > * {
    margin-bottom: 3rem; }
