/////////////////////////////////////////////////////////////
//--(FORM)------------------------------------------------//
///////////////////////////////////////////////////////////
.cardUser {
  border: 1px solid var(--clr-primary);
  width: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1.5rem;

  & p {
    border-bottom: 1px solid var(--clr-primary);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  & * {
    width: 100%;
  }

  & > *:not(:last-child) { // A todos los sub elementos de form que se apliquen los estilos, menos al ultimo.
    margin-bottom: 1.5rem;
  }

  & > button {
    border: 1px solid var(--clr-primary);
    padding: 1rem;
    background-color: var(--clr-primary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
  }

}