/////////////////////////////////////////////////////////////
//--(HEADER)----------------------------------------------//
///////////////////////////////////////////////////////////
.header {
  background-color: var(--clr-secondary);
  padding: 0 2rem;

  height: 6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: var(--clr-primary);
    font-weight: bold;
    font-size: 2.6rem;
  }

  .buttonsContainer {
    &__button {
      height: 100%;
      border: 1px solid var(--clr-primary);
      padding: 1rem;
      background-color: var(--clr-secondary);
      color: var(--clr-primary);
      cursor: pointer;
    }
  }
}